# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor folders
.vscode/
.idea/

# Sandbox folder
sandbox/
sandbox/**

# Environment files
.env

# Generated audio episodes
episodes/*

service_account.json
**/service_account.json
*.service_account.json